<div class="basic-table">
  <h3>
    <span>
      {{ tableTitle }}
    </span>
    <a class="basic-table__add-button item-create" title="Create item" data-type="{{ skillType }}">
      +
    </a>
  </h3>
  <table>
    <thead>
      <th>
        {{localize 'MYTHRAS.Name'}}
      </th>
      <th>
        {{localize 'MYTHRAS.Base_Char'}}
      </th>
      <th style="padding-left: 5px" title="{{localize 'MYTHRAS.Trained'}}">
        <img class="table-header-icon" src="systems/mythras/assets/sheet/checkmark.svg" />
      </th>
      <th style="padding-left: 5px" title="{{localize 'MYTHRAS.Fumbled'}}">
        <img class="table-header-icon" src="systems/mythras/assets/sheet/lightningbolt.svg" />
      </th>
      <th>
        {{localize 'MYTHRAS.Roll'}}
      </th>
      <th class="delete-column" title="Delete">
        <i class="fas fa-trash"></i>
      </th>
    </thead>
    <tbody>
      {{#each skills as |item id|}}
      <tr class="item" data-item data-item-id="{{item.id}}">
        <td>
          <a class="item-name item-control item-edit {{item.applyClass}}">
            {{item.name}}
          </a>
        </td>
        <td>
          {{formatSkillAbbrev item.system}}
        </td>
        <td class="skill-trained-cell">
          <input type="checkbox" name="system.trained" data-item-property="trained" {{checked system.trained}} />
        </td>
        <td class="skill-fumbled-cell">
            <input type="checkbox" name="system.fumbled" data-item-property="fumbled" {{checked system.fumbled}} />
        </td>
        <td>
          <a class="skill-val rollableSkill">
            {{item.totalVal}}%
          </a>
        </td>
        <td>
          <a class="item-control item-delete delete-column" title="Delete Item">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>