<form class="{{cssClass}} item-sheet skill-sheet flexcol" autocomplete="off">
  <header class="sheet-header">
    <div class="header-flex">
      <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
      <div class="header-fields">
        <h1 class="charname">
          <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
        </h1>
      </div>
      <h1>{{totalVal}}%</h1>
    </div>
  </header>

  {{!-- Decorative Symbol Divider --}}
  {{> systems/mythras/templates/global/mythras-symbols.hbs}}

  {{!-- Sheet Body --}}
  <section class="sheet-body flexcol">
    <div class="upper-flex">
      <div class="skill-section-left">
        <div class="skill-section">
          <h3>{{localize 'MYTHRAS.Base_Characteristics'}}</h3>
          <span class="resource">
            <select id="char-change" name="system.primaryChar" data-dtype="String">
              {{selectOptions characteristicsLabels selected=system.primaryChar valueAttr="value" labelAttr="label" localize=true}}
            </select>
          </span>
          <span>+</span>
          <span class="resource">
            <select id="char-change" name="system.secondaryChar" data-dtype="String">
              {{selectOptions characteristicsLabels selected=system.secondaryChar valueAttr="value" labelAttr="label" localize=true}}
            </select>
          </span>
        </div>

        <div class="skill-section">
          <h3>{{localize 'MYTHRAS.Magic_Skill_Type'}}</h3>
          <span class="resource">
            <select name="system.skillType" data-dtype="String">
              <option value=""></option>
              {{selectOptions magicSkillTypeLabels selected=system.skillType valueAttr="value" labelAttr="label" localize=true}}
            </select>
            {{#unless (eq system.combinedTalentIntensity.max 0) }}
            {{localize 'MYTHRAS.Combined_Talent_Intensity'}}={{system.combinedTalentIntensity.max}}
            {{/unless}}
            {{#unless (eq system.maxShapingPoints 0) }}
            {{localize 'MYTHRAS.Shaping_Points'}}={{system.maxShapingPoints}}
            {{/unless}}
            {{#unless (eq system.maxSpiritBoundedPow 0) }}
            {{localize 'MYTHRAS.Spirit_Bounded_Pow'}}={{system.maxSpiritBoundedPow}}
            {{/unless}}
          </span>
        </div>

        <div class="skill-section">
          <h3>{{localize 'MYTHRAS.Cult_Brotherhood'}}</h3>
          {{#unless (eq system.devotionalPool.max 0) }}
          {{/unless}}
          <span class="resource">
            <select name="system.cultId" data-dtype="String">
              <option value=""></option>
              {{selectOptions system.cults selected=system.cultId valueAttr="id" labelAttr="name" }}
            </select>
            {{#unless (eq system.devotionalPool.max 0) }}
            {{localize 'MYTHRAS.Devotional_Pool'}}={{system.devotionalPool.max}}
            {{/unless}}
            {{#unless (eq system.spiritBounded.max 0) }}
            {{localize 'MYTHRAS.Spirits_Bounded'}}={{system.spiritBounded.max}}
            {{/unless}}
          </span>
        </div>

        <div class="skill-section">
          <h3>{{localize 'MYTHRAS.Other'}}</h3>
          <div class="other-flex">
            <div>
              <label>
                <p>{{localize 'MYTHRAS.ENC_Penalty'}}</p>
              </label>
              <input type="checkbox" class="char-enc" disabled="disabled" checked="" />
            </div>
            <div>
              <label>
                <p>{{localize 'MYTHRAS.Trained'}}</p>
              </label>
              <input id="train-check" type="checkbox" data="system.trained" name="system.trained" {{checked
                system.trained}} />
            </div>
            <div>
              <label>
                <p>{{localize 'MYTHRAS.Fumbled'}}</p>
              </label>
              <input id="fumble-check" type="checkbox" data="system.fumbled" name="system.fumbled" {{checked
                system.fumbled}} />
            </div>
          </div>
        </div>
      </div>

      <div class="skill-section-right">
        <div class="skill-section">
          <div class="improvements-flex">
            <div>
              <label>
                <p>{{localize 'MYTHRAS.TRAINING'}}</p>
              </label>
              <input id="skill-mod" type="text" name="system.trainingVal" value="{{system.trainingVal}}" />%
            </div>
            <div>
              <label>
                <p>{{localize 'MYTHRAS.MISC'}}</p>
              </label>
              <input id="skill-mod" class="misc-input" type="text" name="system.miscBonus"
                value="{{system.miscBonus}}" />%
            </div>
            {{#unless (eq system.intensity.max 0) }}
            <div>
              <label>
                <p>{{localize 'MYTHRAS.Intensity'}}</p>
                <input class="misc-input" type="text" disabled="disabled" value="{{system.intensity.max}}" />
              </label><span style="color:transparent !important">%</span>
            </div>
            {{/unless}}
            {{#unless (eq system.magnitude.max 0) }}
            <div>
              <label>
                <p>{{localize 'MYTHRAS.Magnitude'}}</p>
              </label>
              <input class="misc-input" type="text" disabled="disabled" value="{{system.magnitude.max}}" /><span
                style="color:transparent !important">%</span>
            </div>
            {{/unless}}
          </div>
        </div>

      </div>
    </div>
    <h2>{{localize 'MYTHRAS.Description'}}</h2>
    <div class="desc skill-section" data-group="primary">
      {{ editor descriptionHTML target="system.description" button=true editable=editable }}
    </div>
  </section>

  {{!-- Decorative Symbol Divider --}}
  {{> systems/mythras/templates/global/mythras-symbols.hbs}}
</form>